/* HEADER */
header {
    background-color: var(--bg_page);
    padding: 16px;
    display: grid;
    grid-template-areas: 
    "logo hamburger"
    "title title"
    ;
    align-items: center;
    border-bottom: var(--border) solid 8px;
}
#header__hamburger {
    background-color: var(--bg_page);
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 40px;
    justify-self: end;
}
#header__navBar {
    display: flex;
    flex-direction: column;
    background-color: var(--bg_page);
    position: absolute;
    top: 104px;
    width: 100%;
    left: 0;
    border-bottom: var(--border) solid 8px;
}
.navBar__items {
    display: flex;
    align-items: center;
    padding: 4px 8px;
}
.navItem_selected {
    background-color: var(--bg_highlight);
    color: var(--text_Onlight_color) !important;
}
#services_label::after {
    content: "";
    display: flex;
    width: 16px;
    height: 16px;
    background: url("../img/icons/arrow_right_selected.svg") no-repeat center;
    background-size: contain;
    margin-left: auto;
}
#services_label.down::after {
    background: url("../img/icons/arrow_down.svg") no-repeat center;
    background-size: contain;
}
#services {
    display: block;
    border-top: var(--border) solid 8px;
    border-bottom: var(--border) solid 8px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 104px;
}
#services li {
    list-style-type: none;
    padding: 4px 8px;
}
header, header a {
    color: var(--text_OnDark_color);
    text-decoration: none;
}
header h1 {
    border-bottom: var(--border) solid 2px;
    grid-area: title;
    margin: auto;
    padding: 16px;
}

@media screen and (min-width: 740px) {
    #header__hamburger {
        display: none;
    }
    #header__navBar {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: space-between;
    }
    #services{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--bg_page);
        width: auto;
        border: none;
        border-right: var(--border) solid 8px;
        border-left: var(--border) solid 8px;
        border-bottom: var(--border) solid 8px;
        /* border-top: blue solid 1px; */
        top: 60px;
        right: 22svw;
        gap: 6px;
    }
}
@media screen and (min-width: 1024px) {
    #services li:hover, #services_label:hover, .navBar__items:hover {
        background-color: var(--bg_highlight);
        color: var(--text_Onlight_color);
        cursor: pointer;
    }
    #services li a {
        display: block;
        width: 100%;
    }
    #services li a:hover {
        color: var(--text_Onlight_color);
    }
    #services_label:hover + #services,
    #services:hover,
    #services:focus-within,
    #services_label:focus + #services {
        display: flex !important;
    }
}